{% extends 'base.html.twig' %}

{% block content%}

    <h1>Votre cabane</h1>

    <article class="">
        <ul>
            <li>
                <a href="{{ path('chest_show') }}">
                    Coffre
                </a>
            </li>
            <li>
                Atelier
            </li>
            <li>
                Journal de bord
            </li>
        </ul>
    </article>


{% endblock %}
