{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hut</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hut.id }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
