@font-face{
    font-family: 'journal';
    src: url('../fonts/journal.ttf') format('truetype');
}

//  body style
body {
    font-family: Helvetica Neue, Helvetica, Arial;

    width: 94vw;
    margin: 1%;
    padding:1%;
    min-height: 93vh;

    border:solid 7px #000000;
    border-radius: 5px;

    // removing default styles
    a {
        text-decoration: none;
        color: initial;
    }

    p {
        margin:0;
    }

    ul {
        list-style: none;
        margin:0;
        padding:0;
    }
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #00c8e4;
    margin-bottom:4em;

    .miab-logo {
        width: 196px;
    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;

        .titlebox {
            display: flex;
            flex-direction: column;
            align-items: center;

            // MIAB title
            :first-child {
                margin-bottom: -18px;
                margin-top: -18px;
                font-size: 2em;
            }

            // Message in a bottle title
            :nth-child(2) {
            }

            :nth-child(3) {
            }
        }

        .nav-menu {
            background-color: #FFF;
            display: flex;
            flex-direction: row;
            padding:15px;
            transform: translate(0px, 3.35em);

            li {
                border: 2px solid #00c8e4;
                padding: 28px;
                margin: -1px;
            }
        }

    }

    .header-rightpart {
        display:flex;
        align-items: center;
        margin-left: 6vw;


        .disconnection_icon {
            width:4vw;
            min-width:30px;
        }
    }

    .header-rightpart-blankspace {
        min-width:19vw;

    }
}

// ISLAND > HUT SCREEN
.hut_panel {
    display:flex;
    flex-direction: row;

    .inventory_panel, .chest_panel {
        flex-direction:column;
        width: 50%;
    }

    .chest_panel {
        border-left-width: thick;
        border-left-style: double;
        border-left-color: rgb(6, 6, 6);
        padding-left: 2vw;
    }

}

.fatborder {
    border:solid 7px #000000;
    border-radius: 12px;
}

#worldmap {
    font-family: serial;
    font-size: x-large;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2vh;
    width: 94vw;
}
