@font-face{
    font-family: 'journal';
    src: url('../fonts/journal.ttf') format('truetype');
}

//  body style
body {
    font-family: 'journal', Arial, sans-serif;
    font-size: 2.5em;

    width: 94vw;
    margin: 1%;
    padding:1%;
    min-height: 93vh;

    border:solid 7px #000000;
    border-radius: 5px;

    // removing default styles
    a {
        text-decoration: none;
        color: initial;
    }

    p {
        margin:0;
    }

    ul {
        list-style: none;
        margin:0;
        padding:0;
    }
}


nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #000;

    .titlebox {
        display: flex;
        flex-direction: column;
        align-items: center;

        // MIAB title
        :first-child {
            margin-bottom: -18px;
            margin-top: -18px;
            font-size: 2em;
        }

        // Message in a bottle title
        :nth-child(2) {
        }
    }

    .navmenu {
        transform: translate(0px, 1em);
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        li {
            border: solid 3px #000;
            border-radius: 2px;
            border: solid 3px #000;
            border-radius: 4px;
            padding: 12px;
            max-height: 1.3em;
            margin: -1px;
            align-self: flex-end;
        }
    }
}

.fatborder {
    border:solid 7px #000000;
    border-radius: 12px;
}

#worldmap {
    font-family: serial;
    font-size: x-large;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2vh;
    width: 94vw;
}
