{% extends "::base.html.twig" %}

{% block title %}WorldBundle:GameplayController:joinWorldGame{% endblock %}

{% block body %}
<h1>Welcome to the GameplayController:joinWorldGame page</h1>
{% endblock %}
