<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Message In A Bottle{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/global.css')}}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('icons/favicon.ico') }}" />
        <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
    </head>
    <body>
        <header>
            <nav class="fatborder">
                Hello nav !
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
