{% extends 'base.html.twig' %}

{% block content%}
    <h1>La forêt</h1>

    <div  class="story" style="background-color:lightgreen">
    </div>
        <script src="/js/story-1.js"></script>
        <div class="forestZone">
          <img src="{{asset("img/backgrounds/forest.gif")}}" alt="background forest">
        </div>
        <audio src="{{asset("son/foret.mp3")}}" autoplay >
          Votre navigateur ne supporte pas l'élément <code>audio</code>.
        </audio>
{% endblock %}
