{% extends 'base.html.twig' %}


{% block body %}

{% block content %}
    <h1>Rejoindre un monde</h1>

    <ul>
        {% for worldGame in worldGames %}
            <li>
                <a onclick="return joinWorldConfirmation();" href="{{ path('joinworldgame', { 'id': worldGame.id }) }}">Monde {{ worldGame.id }} </a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        <li>
            <a href="{{ path('worldgame_new') }}">Create a new worldGame</a>
        </li>
    </ul>

<script>
    function joinWorldConfirmation() {
        var choice = confirm("Voulez-vous rejoindre ce monde ?");
        if (!choice) return false;
    }

</script>

{% endblock %}
{% endblock %}
