{% extends 'base.html.twig' %}

{% block content%}
<div class="accueil">
  <img src="{{asset("img/backgrounds/island.gif")}}" alt="background accueil">

</div>

<audio src="{{asset("son/accueil.mp3")}}" autoplay >
  Votre navigateur ne supporte pas l'élément <code>audio</code>.
</audio>
{% endblock %}
