{% extends 'base.html.twig' %}

{% block content %}
    <h1>La plage</h1>
    <h2>
        Vous vous tenez sur la plage...

    </h2>

    <div class="actionlist">
        <ul>
            <li>
                <span class="beach_watchsea">
                    <a href="#" class="watchsea">
                        Regarder la mer...
                    </a>
                </span>
            </li>
            <li>
                Lancer une bouteille à la mer.
            </li>
            <li>
                Fouiller la plage.
            </li>
            <li>
                Nager.
            </li>
        </ul>
    </div>

{% endblock %}
