{% extends "::base.html.twig" %}

{% block title %}WorldBundle:BottleController:updateMessage{% endblock %}

{% block body %}
<h1>Welcome to the BottleController:updateMessage page</h1>
{% endblock %}
